npm-debug.log
.DS_Store

app/**/*.js
hooks/
lib/
node_modules/
platforms/
tmp/
typings/
.idea/**/*.xml
.idea/modules.xml
.idea/nativescript-experiment-ts.iml
.idea/typescript-compiler.xml
.idea/workspace.xml
